All/Looker_Related_Items/Archive/.DS_Store
*.xml
Growth/.idea/Growth.iml
.DS_Store
.DS_Store?
*.DS_Store
redshift_creds.json
__pycache__
*_creds.json
.ipynb_checkpoints
*.pyc
.Rhistory
*.csv
*.xlsx
*.log
*.logs
scratch*
.idea/*
*.code-workspace
*.tsv
claude_docker_setup.txt